@import '../../../shared/scss/mixin.scss';

button {
    @include btn;

    &:disabled {
        color: #ccc;
        cursor: not-allowed;
    }
};

.danger{
    @include btn-danger;

    &:disabled {
        color: #ccc;
        cursor: not-allowed;
    }
}